<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link btn btn-outline-primary text-primary ml-3" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DQVLTRFEB58VJ&source=url"><i class="fab fa-paypal text-primary"></i> Donate </a>
</li>
