{% assign author = site.authors.davi %}
<h5 class="mb-3">About</h5>

<img alt="{{ author.name }}" src="{{ author.avatar }}" class="rounded-circle mb-3" height="80" width="80">

<p>{{ author.bio }}</p>

{% if author.mastodon %}<a target="_blank" rel="me" href="{{ author.mastodon }}" class="btn btn-outline-primary d-block mb-2"><i class="fab fa-mastodon"></i> Mastodon</a>{% endif %}
{% if author.site %}<a target="_blank" href="{{ author.site }}" class="btn btn-outline-dark d-block"><i class="fab fa-github"></i> GitHub</a>{% endif %}
